
themes/storefront/
themes/twentytwentytwo/
themes/twentytwentythree/
themes/twentytwentyfour/
themes/twentytwentyfive/


plugins/woocommerce/
plugins/akismet/
languages/
uploads/
upgrade/
.DS_Store
Thumbs.db

cache/
.vscode/