
themes/storefront/
themes/twentytwentytwo/
themes/twentytwentythree/
themes/twentytwentyfour/
themes/twentytwentyfive/


plugins/*
!plugins/mypetpuzzle-core/
languages/
uploads/
upgrade/
updraft/
wflogs/
.DS_Store
Thumbs.db

cache/
.vscode/
jetpack-waf/