@use "../variables" as *;

.badge {
  position: absolute;
  top: $spacing-sm;
  left: $spacing-sm;
  background-color: $color-primary;
  color: $color-white;
  font-size: $font-size-small;
  font-weight: 600;
  padding: 2px $spacing-sm;
  border-radius: 4px;
  z-index: 1;
}
