@use "../../variables" as *;

.front-page-notices {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .woocommerce-message,
    .woocommerce-info,
    .woocommerce-error {
        margin: 0;
        border-radius: 0;
    }
}
